/*
Quinto A
Taller 2
Pertenece a: María Santana 

*/
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
  padding: 200px;
  background-image: url("taller22.jpg");
  

}
.container {
    font-size: 25px ;
    width: 1500px;
    height: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
    background-color: rgb(231, 245, 245);
    border: 5px solid;
    grid-template-rows: 0fr auto auto ;
    row-gap: 1px;
    grid-template-areas:
      "header header header"
      "foto   datos_personales datos_personales"
      "estudios estudios estudios"
      "experiencia experiencia experiencia"
      " capacitaciones capacitaciones capacitaciones"
      " referencias referencias referencias";
  }
  
  .datos_personales { 
      grid-area: datos_personales; 
      padding: 9px ;
      font-size: 22px ;
      background-color: rgb(149, 243, 191) ;
      border-bottom: solid rgb(2, 2, 2);
      border-left: solid rgb(2, 2, 2);
    }
    
  
  .header { 
      grid-area: header;
      justify-content: center;
      align-self: center;
      padding: 5px;
      background-color: rgb(28, 170, 236);
      text-align: center;
      border-bottom: solid rgb(2, 2, 2);
     }
  
  .estudios { 
      grid-area: estudios;
      padding: 20px 25px;
      grid-column-start: 1fr;
      grid-column-end: 1fr;
      justify-content: center;
      border-bottom: solid rgb(2, 2, 2);
      /*border-top: solid rgb(2, 2, 2);*/
     }
  
  .experiencia {
       grid-area: experiencia; 
       grid-row-start: 2fr;
       padding: 20px 25px;
       background-color: rgb(149, 243, 191) ;
       border-bottom: solid rgb(17, 17, 17);
    }
  
  .capacitaciones {
      grid-area: capacitaciones;
      border-bottom: solid rgb(3, 3, 3);
      justify-content: center;
      padding: 20px 25px;
    }
  
  .referencias {
      grid-area: referencias; 
      align-items: center;
      text-align: center;
     /*margin: -0.25px;*/
    }
    .foto {
      display: grid;
      margin: 0 auto; 
      border-bottom: solid rgb(2, 2, 2);  
     
    }
    .tabla{
        margin: 0 auto;
        table-layout:fixed;
      }
       td{
           border: black 2px solid;
           overflow: hidden; 
           text-overflow: Ellipsis; 
           Word-wrap: break-Word;
           }
           th{
              border: black 2px solid;
            }
            img{ 
              padding: 20px;
            }
@media (max-width: 400px) {
  .container {
    display: block;
  }
}
